@model FoodTruckTracker.Models.FoodTruck

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Your Truck</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodTruckName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodTruckName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileViews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileViews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CuisineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CuisineType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TruckHistory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TruckHistory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TruckCrew)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TruckCrew)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FoodTruckId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.FoodTruckId">Delete</a>
</div>
